<aside id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 position-sticky top-0 left-0">
    <a class="navbar-brand text-primary" href="#">Node JS</a>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link text-primary" href="#item-1">V8 engine</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1 text-primary" href="#item-1-1">Getting Started</a>
            <a class="nav-link ms-3 my-1 text-primary" href="#item-1-2">Modules </a>
        </nav>
        <a class="nav-link text-primary" href="#item-2">Server Example</a>
        <a class="nav-link text-primary" href="#item-3">Running your file</a>
        <nav class="nav nav-pills flex-column">
        </nav>
    </nav>
</aside>