<aside id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 position-sticky top-0 left-0">
    <a class="navbar-brand text-primary" href="#">Express & EJS</a>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link text-primary" href="#item-1">Getting Started</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1 text-primary" href="#item-1-1">Setting up a config file</a>
            <a class="nav-link ms-3 my-1 text-primary" href="#item-1-2">Installing </a>
        </nav>
        <a class="nav-link text-primary" href="#item-2">Routing</a>
        <a class="nav-link text-primary ms-3 my-1" href="#item-2-2">Methods</a>
        <a class="nav-link text-primary" href="#item-3">Middleware</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1 text-primary" href="#item-3-1">Middleware Example</a>
        </nav>
    </nav>
</aside>