    <h1 id="item-2-2">Method Examples</h1>

    <div class="py-3 px-3 bg-dark terminal">
        <pre class="text-light"><span class="comment">// GET method route</span><br>app.<span class="function-call">get</span>(<span class="string">'/'</span>, (req, res) => {<br>   res.<span class="function-call">send</span>(<span class="string">'GET request to the homepage'</span>)<br>})<br><br><span class="comment">// POST method route</span><br>app.<span class="function-call">post</span>(<span class="string">'/'</span>, (req, res) => {<br>   res.<span class="function-call">send</span>(<span class="string">'POST request to the homepage'</span>)<br>})</pre>
    </div><br>